In [4]:
# Cellule 1 : Connexion
import sqlite3
import pandas as pd

conn = sqlite3.connect('../plants_lab.db')

# Cellule 2 : Voir toutes les tables
pd.read_sql("SELECT name FROM sqlite_master WHERE type='table'", conn)

# Cellule 3 : Voir la structure d'une table
pd.read_sql("PRAGMA table_info(plants)", conn)

# Cellule 4 : Voir les 20 premières lignes
df = pd.read_sql("SELECT * FROM plants LIMIT 20", conn)
df

# Cellule 5 : Compter le nombre de lignes
pd.read_sql("SELECT COUNT(*) as total FROM plants", conn)

# Cellule 6 : Stats par chambre
query = """
    SELECT 
        chambre,
        COUNT(*) as nb_series,
        SUM(bocaux) as total_bocaux
    FROM plants
    GROUP BY chambre
    ORDER BY total_bocaux DESC
"""
pd.read_sql(query, conn)

# Cellule 7 : Chercher une souche spécifique
souche = "BRAHY"
query = f"SELECT * FROM plants WHERE strain = '{souche}'"
pd.read_sql(query, conn)

# Cellule 8 : Toujours fermer la connexion
conn.close()

OperationalError: unable to open database file